@media only screen and (min-width: 1200px) {
    #articles{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    #main{
        margin-right: 80px;
        }
        .article-photo{
            width: 282.81px;
            height: 188.53px;
        }
}
@media only screen and (min-width: 760px) and (max-width: 1200px) {
    #articles{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    #main{
        margin-right: 40px;
        }
       
}
@media only screen and (max-width: 760px)  {
    #articles{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    

}

#articles{
    grid-column-gap: 10%;
}

.article-photo{
    width: 100%;
    background: #f2f2f2;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10;
    
}
    #title{
        font-family: "SuecaSlab", "Georgia", "serif";
        font-size: 1.875rem;
        font-weight: 500;
        line-height: 2.3125rem;
        letter-spacing: -0.4px;
        border-bottom: 3px solid #000000;
        font-weight: bolder;
    }
    #tag-cont{
        margin-top: 15px;
        margin-bottom: 15px;

        
    }
    .tag{
        font-family: "Arial", "sans-serif";
        font-size: 0.875rem;
        margin-right: 5px;
        display: inline-block;
        position: relative;
        color: #0074c4;
        margin-bottom: 2px;
    }
    .tag-link{
        text-decoration: none;
    
    }

    

    
    .article-photo-cont{
        width: 100%;
        display: grid;
        justify-items: center;
    }

    .article-title-cont{
        width: 100%;
        display: grid;
        justify-items: start;
    }

    .article-title{
        font-family: sans-serif;
    font-size: 1.0625rem;
    letter-spacing: -0.4px;
    text-transform: lowercase;
    font-family: "SuecaSlab", "Georgia", "serif";
    font-weight: bold;
    text-align: start;
    }

    .article-date{
        font: 400 0.875rem "Arial", "sans-serif";
    color: #5a5a5a;
    margin-top: 0.375em;
    text-align: start;

    }
.article{
    margin-bottom: 30px;

}

#loadmore{
    padding: 0.75em 1.5em;
    font-family: "Arial", "sans-serif";
    border-radius: 3px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    height: 100%;
    font-size: 0.75em;
    padding: 0.75em 1.5em;
    background-color: #ffffff;
    border: 1px solid #0074c4;
    color: #0074c4;
}

#loadmore:hover{
    opacity: 0.8;
    transition: opacity .2s ease-in-out;
    background-color: #0074c4;
    border: 1px solid #0074c4;
    color: #ffffff;
}

#loadmore-cont{
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.gray{
    opacity: 0.5;
}
.none{
    display: none;
}